<div class="contato">
    <sidebar/>
    <div class="contatos">
        <div class="list">
            <a class="plataforma" href="https://www.linkedin.com/in/jcarlos1999/" target="_blank">
                <img src="../../assets/linkedin-tile.svg" alt="Linkedin Icon">
                <p>Linkedin</p>
            </a>

            <a class="plataforma" href="https://www.github.com/Jcarlos1999" target="_blank">
                <img src="../../assets/github-icon.svg" alt="Github icon">
                <p>Github</p>
            </a>

            <a class="plataforma">
                <img src="../../assets/email-svgrepo-com.svg" alt="">
                <p>{{'joao.c.23@live.com'}}</p>
            </a>
            
        </div>
    </div>
</div>
