<div class="home">
  <sidebar></sidebar>
  <div class="profile">
    <img class="profile-image" src="../../assets/Profile.jpeg" />

    <h1>João Carlos</h1>
    <p>
      Olá, sou o <i>João Carlos</i>, engenheiro de software, atualmento atuo com
      desenvolvimento full-stack com Angular para o frontend, e com no backend
      Java e Golang. No momento estou desempregado e focando em projetos de
      freelancer, além também de alguns projetos pessoais que servem também para
      estudo e aperfeiçoamento do meu conhecimento. Sou apaixonado por jogos,
      foi o que fez eu querer aprender a programar. Na epocá começei com C++ e
      hoje sou um entusiasta da linguagem. Quando fiz 18 começei o curso de
      engenharia da computação no INATEL, Instituto Nacional de
      Telecomunicações, e acabei mudando para engenharia de software no segundo
      ano. Me formei no final de 2023, mais para frente procuro faz pós, não
      descidi a areá ainda e acho que vai depender um pouco do ruma para qual
      minha carreira irá mais para frente.
    </p>
  </div>

  <div class="logos">
    <div class="logos-slide">
      <img src="../../assets/Go-Logo_White.svg" alt="GoLang Logo" />
      <img src="../../assets/angular-icon.svg" alt="Angular Logo" />
      <img src="../../assets/git-scm-icon.svg" alt="Git Logo" />
      <img src="../../assets/java-icon.svg" alt="Java Logo" />
      <img src="../../assets/mongodb-ar21.svg" alt="MongoDb Logo" />
      <img src="../../assets/postgresql-horizontal.svg" alt="Postgres Logo" />
      <img src="../../assets/python-horizontal.svg" alt="Python Logo" />
      <img src="../../assets/springio-ar21.svg" alt="Spring Logo" />
    </div>
    <div class="logos-slide">
      <img src="../../assets/Go-Logo_White.svg" alt="GoLang Logo" />
      <img src="../../assets/angular-icon.svg" alt="Angular Logo" />
      <img src="../../assets/git-scm-icon.svg" alt="Git Logo" />
      <img src="../../assets/java-icon.svg" alt="Java Logo" />
      <img src="../../assets/mongodb-ar21.svg" alt="MongoDb Logo" />
      <img src="../../assets/postgresql-horizontal.svg" alt="Postgres Logo" />
      <img src="../../assets/python-horizontal.svg" alt="Python Logo" />
      <img src="../../assets/springio-ar21.svg" alt="Spring Logo" />
    </div>
    </div>
</div>
